MAESTRO_SERVER=https://SEU-MAESTRO.botcity.dev
MAESTRO_LOGIN=seu_usuario
MAESTRO_KEY=sua_chave

MAESTRO_ENABLED=true
VAULT_ENABLED=true
AUDITORIA_DATAPOOL_LABEL=FilaAuditoriaLotes_equipe1
CREDENTIAL_LABEL=credencial_erp_equipe1
CREDENTIAL_USER_KEY=username
CREDENTIAL_PASSWORD_KEY=password
